<%= form_with model: article do |form| %>
  <div >
    <%= form.label :title %><br>
    <%= form.text_field :title, :class => "w-full border-2 border-gray-400" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body, :class => "w-full border-2 border-gray-400 h-48" %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>"
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </div>

  <div>
    <%= form.submit "Submit", :class=> "bg-blue-600 px-2 py-1 mt-3 text-white rounded tracking-wide" %>
  </div>
<% end %>
